body {
    background-color: #111718;
}

.machine {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    height: 35vh;
    width: 40vw;
    background-color: #323b48;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.h1Class {
    color: white;
    margin-top: 10vh;
    text-align: center;
}

.display {
    color: white;
}

.h2Class {
    color: white;
    text-align: center;
}